.logo-wrap {
    @extend .clearfix;
    
    display: block;
    width: 100%;
    max-width: 500px;

    box-shadow: 30px 30px 90px 3px rgba(0,0,0,0.75);

    background-color: $color-secondary-2-0;
    color: $white;
    

    .logo-text {
        margin: 20px auto 10px auto;
        width: 75%;
        height: 100px;
        display: block;

        background-image: url(../img/nocomply-logo-text.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}
