
@import 'colors';
@import 'clearfix';

body {
    background-color: $color-secondary-2-4;
}

.bg { // Wrap for the picture background
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000;
    background-size: cover;
    background-image: url(../img/noco-lab-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
}


.main-wrap {
    z-index: 2;
    @extend .clearfix;

    width: 95%;
    max-width: 1260px;

    display: block;
    position: relative;

    margin: 50px auto;
}

@import 'landing';
