@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic);
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/*
    CLEARFIX HACK
    (http://nicolasgallagher.com/micro-clearfix-hack/)
*/
.clearfix:before, .main-wrap:before, .tile:before, .tile.ig .ig-wrap:before, .clearfix:after, .main-wrap:after, .tile:after, .tile.ig .ig-wrap:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .main-wrap:after, .tile:after, .tile.ig .ig-wrap:after {
  clear: both; }

body {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  background-color: #043651; }
  body h1, body h2, body h3, body h4 {
    font-style: italic; }

.bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover;
  background-image: url(../img/noco-lab-bg.jpg);
  background-position: center center;
  background-attachment: fixed; }

.main-wrap {
  z-index: 2;
  width: 95%;
  max-width: 1260px;
  display: block;
  position: relative;
  margin: 50px auto; }

.column {
  float: left;
  display: block;
  width: 400px;
  margin: 10px 0 30px 20px; }

.tile {
  width: 360px;
  padding: 0 20px 20px 20px;
  margin-bottom: 50px;
  box-shadow: 30px 30px 90px 3px rgba(0, 0, 0, 0.75);
  background-color: #185E84;
  color: #FFF; }
  .tile h1 {
    display: inline-block;
    margin: 20px 0 5px -20px;
    padding: 10px 20px;
    width: 100%;
    background-color: #043651; }

.tile.link {
  background-color: #D07F1C; }
  .tile.link h1 {
    background-color: #804700; }

.tile.intro {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0; }
  .tile.intro .logo {
    margin: 20px auto 10px auto;
    width: 90%;
    height: 100px;
    display: block;
    background-image: url(../img/nocomply-logo-text.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }

.tile.ig h1 {
  background-color: #043651; }
.tile.ig .ig-wrap {
  width: 100%;
  margin: 0 auto; }
  .tile.ig .ig-wrap .ig-img {
    float: left;
    width: 110px;
    height: 110px;
    margin: 15px 15px 0 0;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
    .tile.ig .ig-wrap .ig-img img {
      width: 100%;
      height: 100%; }
    .tile.ig .ig-wrap .ig-img:nth-child(3), .tile.ig .ig-wrap .ig-img:nth-child(6) {
      margin-right: 0; }
    .tile.ig .ig-wrap .ig-img:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.75); }

.tile.gigs {
  background-color: #A14EAA; }
  .tile.gigs h1 {
    background-color: #4C0154; }

.tile.fb {
  background-color: #B2CA1B; }
  .tile.fb h1 {
    background-color: #6B7D00; }
