
<div class="landing" ng-controller="landingController" ng-init="init()">
    
    <div class="column">
        <div class="tile intro">
            <div class="logo"></div>
        </div>

        <div class="tile">

            <p>Bass-heavy Dancefloor Destruction.</p>
        </div>
    </div>


    <div class="column">
        <div class="tile ig">
        <!-- todo: loading -->
            <div class="ig-wrap">
                <a class="ig-img" href="{{image.link}}" target="_blank" ng-repeat="image in igImages.firstHalf">
                    <img src="{{image.thumbnailUrl}}" />
                </a>
            </div>

            <h1>Instagame</h1>

            <div class="ig-wrap">
                <a class="ig-img" href="{{image.link}}" target="_blank" ng-repeat="image in igImages.secondHalf">
                    <img src="{{image.thumbnailUrl}}" />
                </a>
            </div>
        </div>
    </div>


    <div class="column">
        <div class="tile gigs">
            <h1>Dates</h1>
            <p>Bass-heavy Dancefloor Destruction.</p>
        </div>
    </div>


</div>
