
<div class="landing" ng-controller="landingController" ng-init="init()">
    
    <!-- Column 1 -->
    <div class="column">
        <div class="tile intro">
            <div class="logo"></div>
        </div>

        <div class="tile">
            <p>Bass-heavy Dancefloor Destruction. Short bio here or something.</p>
        </div>

        <div class="tile link">
            <h1>Links</h1>
            <p>Somelinkit ikoneilla jne</p>
        </div>


    </div>


    <!-- Column 3 -->
    <div class="column">
        <div class="tile fb">
            <h1>Facebook</h1>
            <p>Latest fb post</p>
        </div>
    
        

        <div class="tile gigs">
            <h1>Dates</h1>
            
            <ul>
                <li>gig1</li>
                <li>gig2</li>
                <li>gig3</li>
            </ul>
        </div>
    </div>


    <!-- Column 2 -->
    <div class="column">
        <div class="tile ig">
        <!-- todo: loading -->
            <div class="ig-wrap">
                <a class="ig-img" href="{{image.link}}" target="_blank" ng-repeat="image in igImages.firstHalf">
                    <img src="{{image.thumbnailUrl}}" />
                </a>
            </div>

            <h1>Instagame</h1>

            <div class="ig-wrap">
                <a class="ig-img" href="{{image.link}}" target="_blank" ng-repeat="image in igImages.secondHalf">
                    <img src="{{image.thumbnailUrl}}" />
                </a>
            </div>
        </div>
    </div>


</div>
